body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.main-background-boxes {
    display:flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color:#e5e7eb;
    font-size: 24px;
    
    display:flex;
    justify-content:space-between;
    align-content: center;
    padding: 16px;
}

#logo-and-text {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.header-links {
    display:flex;
    gap: 1em;
}

.information-2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

img {
    max-height: 300px;
    max-width: 300px;
}
